.fc-button {
  background-color: rgb(39, 184, 39);
}

.fc-event-container {
  cursor: pointer;
}

@media (max-width: 700px) {
  .fc-toolbar {
    flex-direction: column-reverse;
  }
  .fc-center {
    margin: 20px 0;
  }
  .fc-view-container {
    height: 100%;
  }
}